.btn {
  color: white;
  background-color: #ff78bb;

}
.mg-logo {
  width: 100%;
}

h1 {
   font-family: "Futura";
   font-weight: bold;
   font-size: 60px;
   color: #A51789;
   text-align: center;
   padding: auto;
}

.meanGirls-photo {
  width: 100%;
}

.generate-paragraphs {
  text-align: center;
  font-family: "Futura";
  color: #A51789;
  font-size: 30px;
}


.mean-girls-container {
  padding: 25px;

}

.quote {
  margin:20px;
}

.footer {
    text-align: center;
    /* position: fixed; */
    display: block;
    width: 100%;
    color: #fff;
    background: #ff69b4;
    padding: 15px;
    margin-top: 100px;
    text-decoration: none;
}

.hidden {
  display: none;
}

.error-message {
  font-family: "Futura";
  font-size: 40px;
  color: #e55ea2;
  text-align: center;
  background-color: black;
}

@media (min-width: 800px) {

  .mg-logo {
    width: 60%;
    margin: auto;
    display: block;
  }



  h1 {
    font-family: "Futura";
    font-weight: bold;
    font-size: 90px;
    color: #A51789;
    text-align: center;

  }

  .parallax {
    /* The image used */
    background-image: url("https://media1.tenor.com/images/b85669993be2e956d13d10ea139a8b5e/tenor.gif?itemid=8071373");

    /* Full height */
    height: 60%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  body, html {
    height: 100%;
  }

  .meanGirls-photo {
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 5px;
  }

  .footer {
      text-align: center;
      /* position: fixed; */
      display: block;
      width: 100%;
      color: #fff;
      background: #ff69b4;
      padding: 15px;
      margin-top: 100px;
      text-decoration: none;
  }


}
