
.container-image{
  position: relative;
  text-align: center;
  color: white;
}

.btn{
  background-color: #ff83c1;
  font-weight: bold;
}
.mg-logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 140px;
 position: absolute;
 top: 30px;
 left: 50%;
 transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
h1 {
   font-family: "Futura";
   font-weight: bold;
   color: #A51789;
   text-align: center;
   padding: 50px;
}

.quote {
  margin: 25px;
}

.meanGirls-photo {
  height: 320px;
  position: absolute;
  top: 110px;
  left: -50px;

}
