.btn {
  color: white;
  background-color: #ff78bb;

}
.mg-logo {
  width: 100%;
}

h1 {
   font-family: "Futura";
   font-weight: bold;
   font-size: 60px;
   color: #A51789;
   text-align: center;
   padding: auto;
}

.meanGirls-photo {
  width: 100%;
}

.generate-paragraphs {
  text-align: center;
  font-family: "Futura";
  color: #A51789;
  font-size: 30px;
}


.mean-girls-container {
  padding: 25px;

}

.quote {
  margin:20px;
}

.footer {
    text-align: center;
    /* position: fixed; */
    display: block;
    width: 100%;
    color: #fff;
    background: #ff69b4;
    padding: 15px;
    margin-top: 100px;
    text-decoration: none;
}
